/*  ***************************** PANEL LEFT-MENU */
.right{
    animation-name: menu_appear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes menu_appear{
    0%{
        left: -100vw;
    }
    100%{
        left: 0vw;
    }
}


.left{
    animation-name: menu-disappear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes menu-disappear{
    0%{
        left: 0vw;
    }
    100%{
        left: -100vw;
    }
}
/*  *****************************  PANEL MENU OPACITY */

.panel_display-none{
    display: none;
}
.opacity-true{
    /*background-color: rgba(0, 0, 0, 0.76);*/
    animation-name: opacity-true;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes opacity-true{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }

    100%{
        background-color: rgba(0, 0, 0, 0.76);
    }
}

.opacity-false{
    animation-name: opacity-false;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes opacity-false{
    0%{
        background-color: rgba(0, 0, 0, 0.76);
    }

    100%{
        background-color: rgba(0, 0, 0, 0);
    }
}

/*  ********************* CLOSE ICON OPACITY */

.close_opacity-true{
    animation-name: opacity-activate;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes opacity-activate{
    0%{
        opacity: 0;
    }

    100%{
        opacity:1;
    }
}

.close_opacity-false{
    animation-name: opacity-desactivate;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes opacity-desactivate{
    0%{
        opacity: 1;
    }

    100%{
        opacity:0;
    }
}

/*  ******************************************  PANEL DE UBICASIÓN  ********************************************  */
.location_down{
    animation-name: location_down;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes location_down{
    0%{
        bottom: -40vh;
    }
    100%{
        bottom: 0vh;
    }
}

.location_up{
    animation-name: location_up;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes location_up{
    0%{
        bottom: 0vh;
    }
    100%{
        bottom: -40vh;
    }
}

/*  ***************************** location panel OPACITY */
.location_opacity-true{
    /*background-color: rgba(0, 0, 0, 0.603);*/
    animation-name: location_opacity-true;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes location_opacity-true{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.603);
    }
}

.location_opacity-false{
    animation-name: location_opacity-false;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes location_opacity-false{
    0%{
        background-color: rgba(0, 0, 0, 0.603);
    }
    100%{
        
        background-color: rgba(0, 0, 0, 0);
    }
}